<Project>
  <PropertyGroup>
    <GmaExtensionsRoot>$(MSBuildThisFileDirectory)src\</GmaExtensionsRoot>
    <GmaFrameworkRoot>$(MSBuildThisFileDirectory)..\gma-framework\src\</GmaFrameworkRoot>
    <GmaModuleAuthRoot>$(MSBuildThisFileDirectory)..\gma-module-auth\src\</GmaModuleAuthRoot>
    <GmaModuleNotificationsRoot>$(MSBuildThisFileDirectory)..\gma-module-notifications\src\</GmaModuleNotificationsRoot>
  </PropertyGroup>
</Project>

